<div class="container">
    <div class="row">   
        <form action="">
          <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNom">Nom Professeur</label>
                <input type="text" class="form-control" id="" name="Nom">
            </div>
            <div class="form-group col-md-6">
                <label for="inputNom">Prenom Professeur</label>
                <input type="text" class="form-control" id="" name="prenom">
            </div>
            <div class="form-group col-md-6">
                <label for="inputNom">Titre cours</label>
                <input type="text" class="form-control" id="" name="Nom">
            </div>
            <div class="form-group col-md-6">
                <label for="inputDate">Date debut cours</label>
                <input type="date" class="form-control" name="dateDebut" id="">
            </div>
            <div class="form-group col-md-6">
                <label for="inputDate">Date fin de cours</label>
                <input type="date" class="form-control" name="dateFin" id="">
            </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Cv</label>
                <input type="file" class="form-control" name="cv" id="inputEmail4">
              </div>
              <div class="mb-3">
                <label for="validationTextarea">Contenu cours</label>
                <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
              </div>
              <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary">Ajouter</button>
              </div>
          </div>
        </form>
    </div>
</div>
